
@{
    ViewBag.Title = "Index";
}


<h2>Here is functions related to teachers</h2>

<form method="GET" action="Teacher/List" >
    <input type="submit" value="List Teachers"  />
</form>
<div>
    <form method="GET" action="Teacher/New">
        <input type="submit" value="Register New Teacher" />
    </form>
</div>