
@{
    ViewBag.Title = "New";
}



<h2>Register New Teacher</h2>

@{ 
    if(ViewBag.message != null)
            {
                <p>@ViewBag.message</p>
            }
}

<form action="/Teacher/New" method="POST">

    <div>
        <label for="teacherFName">Teacher First Name</label>
        <input type="text" id="teacherFName" name="teacherFName" required />
        <label for="teacherLName">Teacher Last Name</label>
        <input type="text" id="teacherLName" name="teacherLName" required />
    </div>

    <div>
        <label for="employeeId">EmployeeId</label>
        <input type="text" id="employeeId" name="employeeId" required />
    </div>

    <div>
        <label for="hiredate">Hire Date</label>
    <input type="date" id="hiredate" name="hiredate" required /></div>
    <div>
        <label for="salary">Salary</label>
    <input type="number" step=".01" id="salary" name="salary" required /></div>
    <div><input type="submit" /></div>
</form>
