@model W2022_Assignment3_Ewerton.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Details:</h2>
<div>
    First Name: @Model.FName;
    Last Name: @Model.LName;
    Teacher Id: @Model.Id;
    Employee Number:@Model.EmployeeNumber;
    Hire Date:@Model.HireDate;
    Salary: @Model.Salary;
</div>