@model W2022_Assignment3_Ewerton.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Details:</h2>
<div>
    <div>First Name: @Model.FName;</div>

<div>Last Name: @Model.LName;</div>
<div>Teacher Id: @Model.Id;</div>
<div>Employee Number:@Model.EmployeeNumber;</div>
<div>Hire Date:@Model.HireDate;</div>
<div>Salary: @Model.Salary;</div>
</div>